{% extends 'website/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image"
             style="background-image:url({% static 'website/img/bg_client_registration.jpg' %})"></div>

        <div class="container col-md-5">
            <div class="content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                Event Planner Logo
                            </div>
                        </div>
                        <div class="content">
                            {% for form_field in user_form %}
                                <div class="form-group form-group-no-border input-lg">
                                    <input type="{{ form_field.field.widget.input_type }}" name="{{ form_field.name }}"
                                           class="form-control" placeholder="{{ form_field.label }}...">
                                </div>
                            {% endfor %}
                            {% for form_field in client_form %}
                                <div class="form-group form-group-no-border input-lg">
                                    <input type="{{ form_field.field.widget.input_type }}" name="{{ form_field.name }}"
                                           class="form-control"
                                           placeholder="{{ form_field.label }}...">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Register!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}