<ul class="list-unstyled components">
    <li>
        <a href="{% url 'website:profile' %}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
        </a>
    </li>
    <li>
        <a href="{% url 'website:events' %}">
            <i class="material-icons">date_range</i>
            <p>Events</p>
        </a>
        <a href="#">
            <i class="material-icons">people</i>
            <p>Contractors</p>
        </a>
    </li>
    <li>
        <a href="{% url 'website:ranking' %}">
            <i class="material-icons">star</i>
            <p>Ranking</p>
        </a>
        <a href="{% url 'website:logout' %}">
            <i class="material-icons text-gray">power_settings_new</i>
            <p>Log out</p>
        </a>
    </li>
</ul>
