<ul class="list-unstyled components">
    <li>
        <a href="{% url 'website:profile' %}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
        </a>
        <a href="#businesses_menu" data-toggle="collapse" aria-expanded="false">
            <i class="material-icons">people</i>
            <p>Businesses</p>
        </a>
        <ul class="collapse list-unstyled" id="businesses_menu">
            {% for business in businesses %}
                <li>
                    <a href="{% url 'website:business' business.pk %}">
                        <p>{{ business.name }}</p>
                    </a>
                <li>
            {% endfor %}
            <a id="add_business" href="{% url 'website:add_business' %}">
                <i style="float: left; margin-top: 5%" class="material-icons">add</i>
                <p>Add new business</p>
            </a>
        </ul>
        <a href="{% url 'website:ranking' %}">
            <i class="material-icons">star</i>
            <p>Ranking</p>
        </a>
        <a href="{% url 'website:logout' %}">
            <i class="material-icons text-gray">power_settings_new</i>
            <p>Log out</p>
        </a>
    </li>
</ul>
