{% if event_form.non_field_errors %}
    {% for error in event_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="form-group form-group-no-border input-lg">
    {% with form_field=event_form.title %}
        {% include 'website/page_elements/form_errors.html' %}
        <input type="{{ form_field.field.widget.input_type }}" name="{{ form_field.name }}" class="form-control"
               value="{% if form_field.value %}{{ form_field.value }}{% endif %}"
               placeholder="{{ form_field.label }}...">
    {% endwith %}
</div>

<div class="d-inline-block form-group form-group-no-border input-lg col-sm-5">
    {% with form_field=event_form.date_from %}
        {% include 'website/page_elements/form_errors.html' %}
        <input class="form-control input-append date form_datetime" size="16"

               type="{{ form_field.field.widget.input_type }}"
               placeholder="{{ form_field.label }}..."
               value="{% if form_field.value %}{{ form_field.value|date:"Y-m-d H:i" }}{% endif %}"
               name="{{ form_field.name }}">
    {% endwith %}
    <span class=" add-on"><i class="icon-th"></i></span>
</div>

<div class="d-inline-block form-group form-group-no-border input-lg col-sm-5">
    {% with form_field=event_form.date_to %}
        {% include 'website/page_elements/form_errors.html' %}
        <input class="form-control input-append date form_datetime" size="16"
               type="{{ form_field.field.widget.input_type }}"
               placeholder="{{ form_field.label }}..."
               value="{% if form_field.value %}{{ form_field.value|date:"Y-m-d H:i" }}{% endif %}"
               name="{{ form_field.name }}">
    {% endwith %}
    <span class=" add-on"><i class="icon-th"></i></span>
</div>

<div class="input-group form-group-no-border input-lg">
    <input class="form-control" id="businessSearch" type="text"
           placeholder="Search by business name, type or owner..">
</div>

<div class="form-group form-group-no-border col-sm-10 mx-auto">
    {% with form_field=event_form.businesses %}
        {% include 'website/page_elements/form_errors.html' %}
        <select multiple class="form-control bg-primary white-text" id="businessSelect" name="{{ form_field.name }}"
                title="Businesses select">
            {% for option in form_field %}
                {{ option }}
            {% endfor %}
        </select>
    {% endwith %}
</div>
