{% load staticfiles %}

<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'website/js/vendor/bootstrap-switch.js' %}" type="text/javascript"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'website/js/vendor/nouislider.min.js' %}" type="text/javascript"></script>

<script src="{% static 'website/js/vendor/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>

