{% load staticfiles %}

<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'website/js/vendor/bootstrap-switch.js' %}"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'website/js/vendor/nouislider.min.js' %}" type="text/javascript"></script>

<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'website/js/vendor/bootstrap-datepicker.js' %}" type="text/javascript"></script>