{% extends 'website/pages/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({% static 'website/img/bg_login.jpg' %})"></div>

        <div class="container col-md-3">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="header header-primary text-center">
                            <div class="logo-container white-text">
                                Login
                            </div>
                        </div>
                        {% include 'website/page_elements/login_form.html' %}
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
