{% extends 'website/pages/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="main-image" data-parallax="true" style="background-image: url({% static 'website/img/magda-fou-421485-unsplash.jpg' %})">
    <div class="container">
        <h1 id="bottom" class="title">Event Planner</h1>
        {% if request.user.is_client %}
            <a href="{% url 'website:add_event' %}" class="btn btn-primary btn-round">Create an Event!</a>
        {% endif %}
    </div>
</div>
<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Have it done!</h2>
                <h5 class="description">Have you ever had to plan wedding, your daughter birthday party, business meeting or your best friend's stag night? If so, you probably know how long does it take... Save your precious time and have it done with Event Planner! We are worldwide platform where clients can choose from hundreds of offers from different kinds of services located in their area, book dates and directly contact with contractors. Keep everything in one organized place and just enjoy the event!</h5>
            </div>
        </div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-container image-center" style="background-image:
                    url({% static 'website/img/victoria-rodriguez-434501-unsplash.jpg' %})">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-container image-center" style="background-image:
                            url({% static 'website/img/bg_add_event.jpg' %})">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-container image-center" style="background-image: url({% static 'website/img/mitchell-orr-179532-unsplash.jpg' %})">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-description">
            <div class="row">
                <div class="col-md-12">
                <h2 class="title">How does it work?</h2>
                </div>
                <h5 class="description">Lorem ipsum dolor sit amet, pro suas hinc errem et. Eum ne ferri euismod, augue timeam ex pri. Vis duis consul luptatum et, ei usu quaeque minimum... Odio postea ad his, ne vim cetero saperet gloriatur, ea debitis contentiones eos.
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
