{% extends 'website/pages/base.html' %}

{% load staticfiles %}
pa
{% block content %}
    <div class="page-header" id="edit-page-header" style="pointer-events: auto">
        <div class="page-header-image"
             style="background-image:url( {% static 'website/img/birthday.jpg' %});">
        </div>
        <div class="container col-md-9 pt-5">
            <div class="content">
                {% if opinions %}
                    <h2>Opinions for <a href="{% url 'website:business' business.pk %}">{{ business.name }}</a>:</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Opinion</th>
                            <th scope="col">Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for opinion in opinions %}
                            <tr>
                                <td>Text: {{ opinion.text }}</td>
                                <td>Rating: {{ opinion.rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="info">No opinions!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


